name: measure_contributors

on:
  push:
    branches:
      - main
  schedule:
    - cron: '0 0 * * *'
  workflow_dispatch:

jobs:
  measure-contributors:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      pages: write
      id-token: write
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.x'

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      - name: Restore cache
        uses: actions/cache/restore@v4
        with:
          path: cache/
          key: contributor-data-cache-${{ github.run_id }}
          restore-keys: |
            contributor-data-cache-

      - name: Execute script
        run: |
          python scripts/get_contributors.py --token ${{ secrets.ACCESS_TOKEN }} --use-cache
          python scripts/get_stargazers.py --token ${{ secrets.ACCESS_TOKEN }} --use-cache
          python scripts/calculate_contributor_history.py
          python scripts/calculate_stargazers_history.py
          cp results/contributors_history.json public/
          cp results/stars_history.json public/

      - name: Save cache
        uses: actions/cache/save@v4
        with:
          path: cache/
          key: contributor-data-cache-${{ github.run_id }}

      - name: Upload cache and results
        uses: actions/upload-artifact@v4
        with:
          name: cache_and_results
          path: |
            cache/
            results/

      - name: Upload Pages artifact
        uses: actions/upload-pages-artifact@v3
        with:
          path: public/

      - name: Publish
        uses: actions/deploy-pages@v4
